.wrap {
    position: fixed;
    display: inline-flex;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    object-fit: cover;
    padding: 30px;
    height: 100vh;
    width: 100vw;
    column-count: 4;
    column-gap: 20px;
    margin-top: 80px;
    background: linear-gradient(10.69deg, #060606 28.99%, rgba(109, 163, 239, 0) 323.52%);
}

.contain {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    background: white;
}

.image {
    display: flex;
    border-radius: 16px 16px 0px 0px;
    height: 50%;
    width: 100%;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    cursor: zoom-in;
    background: white;
}

.textarea{
   padding: 10px 20px;
}

.textarea h2 {
    display: inline-block;
    object-fit: cover;
    background-position: center;
    font-size: 16px;
    padding-bottom: 10px;
    text-align: justify;
    margin-top: 15px;

}

.healthdata {
    color: #000;
    margin-right: 20px;
}

.cardsaveandshare {
    display: flex;
    margin-top: 20px;
}

.cardsaveandshare .MuiSvgIcon-root {
    color: grey;
   
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.icon > .cardsaveandshare {
    margin-left: 70px;
}