*{
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    color: #211922;
    font-size: 12px;
}

.register 
{
  height: 100vh;
  width: 100vw;
  background:linear-gradient(0deg, rgba(206, 205, 205, 0.89), rgba(3, 2, 2, 0.692)), url('../../assets/foodline.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__container--title{
    margin: 16px auto 18px;
    width: 400px;
}

.register__container--title p{
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px 32px;
}

.register__container--title h3{
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -1.2px;
    word-break: break-word;
}

.register__container 
{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    text-align: center;
    width: 484px;
    margin: auto;
    min-height: initial;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    padding-bottom: 55px;
}

.register__form
{
    margin: 0px auto;
    width: 268px;
}

 input
{
    margin-bottom: 7px;
    min-height: 48px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(136, 131, 131);
    border-radius: 16px;
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
}

.register__signInButton
{
    border: 0px none;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    outline: currentcolor none medium;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10px;
}

.socialmd{
    position: relative;
    top: 0;
    left: 0;
}

svg{
    position:absolute;
    display: flex;
}

.socialBtn{
    border: 1px solid rgb(185, 183, 183);
    background-color: transparent;
    height: 40px;
    border-radius: 20px;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 18px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    outline: currentcolor none medium;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
}

.register__options{

    margin-bottom: 16px;
    margin-top: 16px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.tos{
    font-size: 11px;
    font-weight: normal;
    color: rgb(118, 118, 118);
}

.a-divider {
    margin-top: 20px;
}

.a-divider__text {
    color: rgb(51, 51, 51);
    margin-left: 5px;
    font-weight: bold;
}

.a-divider__text  span{
    color:rgb(230, 0, 35);
    margin-left: 1px;
    font-size: 14px;
}

 a {
    text-decoration: none;
    font-size: 16px
}



