.header {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  }

  .header__left {
    display: flex;
    justify-content: space-evenly;
}

.header__left > img {
    height: 40px;
}

.header__input{

    background-color: #efefef;
    display: flex;
    height: 48px;
    width: 100%;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    margin: 0 80px;
}

.header__input > input {
    border:none;
    background-color: transparent;
    outline-width: 0;
    font-size: 14px;
    margin-left: 40px;
}

.header__input > form {
    display: flex;
    flex: 1;
}

.header__input form > input {
    background-color:transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
    font-size: 16px;
}

.header__input form > button {
    display: none;
}

input :focus {
    outline: none
}

.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.MuiSvgIcon-root{
    fill: grey;
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 3rem;
}

.header__option > .MuiSvgIcon-root {
    color:grey;
}

.header__option:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header__option--active > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header__option--active {
    border-bottom: 4px solid #2e81f4 ;
}

.header__right{
    display: flex;
}

.header__info {
    display: flex;
    align-items: center; 
    margin-left: 20px;
}

.header__option {
   margin-right: 50px;
  }


.header__optionLineOne {
    font-size: 14px;
    margin-right: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: rgb(187, 3, 3);
  }

  