.wrapper {
    height: 100vh;
    width: 100vw;
    background:linear-gradient(0deg, rgba(206, 205, 205, 0.89), rgba(3, 2, 2, 0.692)), url('../../../assets/mcdonuts.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__container{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    text-align: center;
    width: 600px;
    margin: auto;
    min-height: initial;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    padding-bottom: 55px;
}

.form__container--title{
    margin: 16px auto 18px;
    width: 400px;
}

.form__container--title  h1{
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -1.2px;
    word-break: break-word;
}

.form__label{
    display: block;
    position: relative;
    left: 0;
}

.form {
    margin: 0px auto;
    width: 508px;
}

.form > input {
    margin-bottom: 40px;
}

textarea {
    margin: 50px 0;
    min-height: 48px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    border: 2px solid rgb(136, 131, 131);
    border-radius: 16px;
    padding: 8px 16px;
    outline: none;
    font-size: 16px;
}

.post__recipebutton {
    border: 0px none;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    outline: currentcolor none medium;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 50px 0;
}